*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #BFDBF7;
}
h1{
    margin-top: 55px;
    text-align: center;
}
.main-container{
    border: 10px solid;
    border-color: #ff0000;
}
.zdj1{
    border: 0px solid;
    border-radius: 5%;
    display: flex;
    align-items: center;
}
aside{
    border: 0px solid;
    border-radius: 20px;
    background-color: #002B3A;
    width: 20%;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}
.right{
    float: right;
    color:white
}
.scroll{
    overflow-y: scroll;
    padding: 15px;
    height: 500px;
}