*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #002B3A;
    border: 5px solid;
    border-color: #ff0000;
    
}
header{
    background-color: #BFDBF7;
    padding: 20px;
}
main{
    background-color: #BFDBF7   ;

}
h1{

    text-align: center;
}
.zdj1{
    border: 0px solid;
    border-radius: 5%;
}
aside{
    border: 0px solid;
    border-radius: 20px;
    background-color: #1F7A8C;
    padding: 10px;
    width: 20%;

    float: left;
}
.left{
 height: 530px;
}
.right{
    height: auto;
    width: 20%;
    float: right;
    color:white
}
.container{
    margin-left: 20px;
    width: 40%;
}
.scroll{
    overflow-y: scroll;
    padding: 15px;
    height: 500px;
}
li{
    background-color: #BFDBF7;
    margin: 5px;
    list-style: none;
    height: 30px;
    width: 200px;
}
li:hover{
    background-color: #002B3A;
    color: white;
    transition: 0.5s;
}
a{
    text-decoration: none;
}
.more{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #002B3A;
    width: 90px;
    
}
.more:hover{
    background-color: #BFDBF7;
    color: black;
    outline: #002B3A 1px solid;
    transition: 0.6s;
}